{% extends 'base.html.twig' %}
{% block title %}
    Page de Donnes :-)
{% endblock %}

{% block body %}
<div class="jumbotron text-center">
  <h1>Page de donnes</h1>
  <p>Le monde est beau...!</p> 
</div>  
<div class="container">
<img src="{{asset('image/019.jpg')}}" class="thumbnail img_"> 
<br><br><br>
 <table class="table table-hover">
    <thead>
      <tr>
        <th>Id</th>
        <th>Marque</th>
        <th>Model</th>
        <th>Pay</th>
        <th>Prix</th> 
        <th>Stock</th>
      </tr>
    </thead>
    <tbody>
    {% for voit in voitures %}
      <tr>
        <td>{{ voit.id }}</td>
        <td>{{voit.marque}}</td>
        <td>{{voit.modele}}</td>
        <td>{{voit.pays}}</td>
        <td>{{voit.prix}}</td>
        <td>{{voit.stock}}</td>         
      </tr>
    {% endfor %}
    </tbody>
  </table>
  {% for voit in voitures %}
   <div class="panel panel-primary ">
      <div class="panel-heading text-center"><h3>{{voit.marque}}</h3></div>
      <div class="panel-body">
        <b>Model : </b>{{voit.modele}}.<br>
        <b>Pay : </b>{{voit.pays}}.<br>
        <b>Prix : </b>{{voit.prix}} milles euros.<br> 
        <b>Stock : </b>{{voit.stock}}.<br>        
               
      </div>
    </div>
    <br>
    {% endfor %}

</div>
{% endblock %}



{% block footer %}Copyright © {{"now"|date("Y")}}{% endblock %}