<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}Welcome!{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% block stylesheet %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">   
  <link rel="stylesheet" href="{{asset('css/style.css')}}">    
  {% endblock %}
  {% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  {% endblock %}
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{path('homepage')}}">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="{{path('homepage')}}">Home</a></li>
      <li><a  href="{{path('donnes')}}">Page Donne</a></li>
      {# <li><a href="{{path('exemple')}}">Page exemple</a></li> #}
      <li>{{ knp_menu_render( 'AppBundle:Builder:monMenu',{'currentClass': 'active'} ) }}</li>     
      
    </ul>
  </div>
</nav>

   {% block body %}{% endblock %}
   
        
      <footer class="text-center">  {% block footer %}{% endblock %}</footer>
    </body>
</html>







     
