{% extends 'base.html.twig' %}
{% block title %}
    Page de Donnes :-)
{% endblock %}

{% block body %}
<div class="jumbotron text-center">
  <h1>Page de donnes</h1>
  <p>Le monde est beau...!</p> 
</div>  
<div class="container">
<img src="{{asset('image/019.jpg')}}" class="thumbnail img_"> 
<br><br><br>
 <table class="table table-hover">
    <thead>
      <tr>
        <th>Id</th>
        <th>Marque</th>
        <th>Model</th>
        <th>Pay</th>
        <th>Image</th> 
      </tr>
    </thead>
    <tbody>
    {% for auto in autos %}
      <tr>
        <td>{{ auto.id }}</td>
        <td>{{auto.marque}}</td>
        <td>{{auto.model}}</td>
        <td>{{auto.pay}}</td>
        <td>
          <span class="aui-avatar aui-avatar-project aui-avatar-xlarge">
                  <span class="aui-avatar-inner">
                      <img src="{{asset(auto.url)}}">
                  </span>
          </span>
        </td>
         
      </tr>
    {% endfor %}
    </tbody>
  </table>

</div>
{% endblock %}



{% block footer %}Copyright © {{"now"|date("Y")}}{% endblock %}