{% extends 'base.html.twig' %}
{% block title %}
    Page de Donnes :-)
{% endblock %}

{% block body %}
<div class="jumbotron text-center">
  <h1>Page de donnes</h1>
  <p>Le monde est beau...!</p> 
</div>  
<div class="container">
</div>
{% endblock %}



{% block footer %}Copyright © {{"now"|date("Y")}}{% endblock %}