{% extends 'base.html.twig' %}
{% block title %}
  {{parent()}}  page de teste titre
{% endblock %}

{% block body %}

<div class="jumbotron text-center">
  <h1>My First Bootstrap Page</h1>
  <p>Resize this responsive page to see the effect!</p> 
</div>  
<div class="container">
<img src="{{asset('image/001.jpg')}}" class="thumbnail img_"> 
<b>Votre identité est : {{ident}} </b>
</div>
{% endblock %}




{% block footer %}Copyright © {{"now"|date("Y")}}{% endblock %}
